@page "/gallery"
@inject IJSRuntime js

<PageTitle>Gallery</PageTitle>

<h1>Gallery</h1>

<InputFile class="form-control" OnChange="OnFileChange"></InputFile>

@code{

    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        if (e.File.Name.Contains(".png"))
        {
            var format = "image/png";

            var resizeImage = await e.File.RequestImageFileAsync(format, 30, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format}base64,{Convert.ToBase64String(buffer)}";

            await js.InvokeVoidAsync("alert", imageData);
        }

        else
        {
            await js.InvokeVoidAsync("alert", "Wrong format selected");
        }

    }

}
