@page "/"

@using LoginFront.Clients
@using LoginFront.models

@inject UserClient Client
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Login</PageTitle>
<h3>Salin</h3>

@if (user is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@user" 
                      FormName="login" 
                      OnValidSubmit="HandleSubmitAsync"
                      Enhance>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="mb-3">
                    <label for="Nickname" class="form-label">Nickname:</label>
                    <InputText id="Nickname" @bind-Value="user.Nickname" class="form-control"/>
                    <ValidationMessage For="()=>user.Nickname" />
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <InputText id="Email" @bind-Value="user.Email" class="form-control"/>
                    <ValidationMessage For="()=>user.Email" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a role="button" class="btn btn-secondary" href="/home">Cancel</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromForm]
    private UserSummary? user { get; set; }

    protected override void OnInitialized()
    {
        if(ClientInfo.userinfo is not null)
            NavigationManager.NavigateTo("/home");
        else
        {
            user = new()
            {
                Nickname = string.Empty,
                Email = string.Empty
            };
        }
    }

    private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(user);

        await Client.AddUserAsync(user);

        ClientInfo.userinfo = new UserDetails()
        {
            Nickname = user.Nickname,
            Email = user.Email
        };
        
        NavigationManager.NavigateTo("/home");
    }
}