@page "/signIn"
@page "/signIn/{id:int}"

@using LoginFront.Clients
@using LoginFront.models

@inject UserClient Client
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Login</PageTitle>
<h3>@title</h3>

@if (user is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@user" FormName="login" OnValidSubmit="HandleSubmitAsync" Enhance>
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <form>
                    <div class="mb-3">
                        <label for="nickname" class="form-label">Nickname:</label>
                        <InputText id="nickname" @bind-Value="user.Nickname" class="form-control"/>
                        <ValidationMessage For="()=>user.Nickname"/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <InputText id="email" @bind-Value="user.Email" class="form-control"/>
                        <ValidationMessage For="()=>user.Email"/>
                    </div>
                    <button type="submit" class="btn btn-primary">@buttonString</button>
                    <a role="button" class="btn btn-secondary" href="/">Cancel</a>
                </form>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    private UserSummary? user { get; set; }
    
    private string title = string.Empty;
    private string buttonString = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        System.Diagnostics.Debug.WriteLine("login page loaded");
    }

    protected override async Task OnParametersSetAsync()
    {
        if (user is not null)
        {
            return;
        }
        
        if (Id is not null)
        {
            user = await Client.GetUserAsync(Id.Value);
            title = $"Edit User Info : {user.Nickname}";
            buttonString = "Edit";
        }
        else
        {
            user = new()
            {
                Nickname = string.Empty,
                Email = string.Empty
            };
            title = "login";
            buttonString = "login";
        }
    }

    private async Task HandleSubmitAsync()
    {
        ArgumentNullException.ThrowIfNull(user);

        if (Id is null)
        {
            await Client.AddUserAsync(user);
        }
        else
        {
            user.Id = Id.Value;
            await Client.UpdateUserAsync(user);
        }
        
        System.Diagnostics.Debug.WriteLine("OnClick move");
        NavigationManager.NavigateTo("/");
    }
}